body{
    background: rgb(0, 247, 255);
}
main{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: rgba(4, 0, 255,0.4);

}

h1{
    font-size: 2rem;
    align-self: flex-start;

}

.img{
    width: 122px;
    border-radius: 1em;
}

.img:hover{
    transform: scale(1.1);
    transition: all 600ms ease;
}
p{
   width: 50ch;
   text-align: left;
   
   
    
}
.flex{
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.container{
    padding: 1em;
    text-align: left;
}  

button{
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    border: none;
    text-transform: capitalize;
    /* transform: scale(1.1); */
    padding: 0.5rem 1rem;
    background-color: cyan;
}

button:hover{
    background-color: white;
    transition: all 600ms ease;
    transform: scale(1.2);
}
footer{
    background-color: rgb(0, 255, 251);
    width: 100%;
}

footer p{
    /* margin: 0 auto; */
    margin: 0 auto;
}
p[class=foot]{
    text-align: center;
}